@charset "utf-8";
@import url("/inc/xcode.min.css");
:root {
  --cwidth: 38em;
  --link-dark: #00BFFF;
  --lite-bc: #eee; 
  --cfont: "JetBrains Mono", ui-monospace, Consolas, monospace;
  --bfont: system-ui, -apple-system, sans-serif;
}

html {
  -webkit-text-size-adjust: 100%
}

body {
  font: 1.3125rem/1.4 var(--bfont);
  padding: 2.0ch 0.5ch;
}

footer,main {
  margin: auto;
  max-width: var(--cwidth)
}
/*
aside::before {
  content: "* * *";
  display: flex;
  justify-content: center;
  color: lightslategray;
  margin-bottom:0.5ch;
}
*/
aside, footer, footer > p {
  color: lightslategray;
  /* font-style: italic; */
}

footer {
  display: flex;
  justify-content: space-between;
  margin: 2ch auto; 
  font-style: italic;
}

.logo {
  margin: 1.5ch 1ch 1ch 1.5ch;
}

h1, h2, h3 {
  font-family: var(--bfont);
  line-height: 1.05;
  margin-bottom: 0;
  padding-bottom: 0
}

h1 {
  font-size: 136%;
  margin-top: 0;
}

h2 {
  font-size: 120%
}

h3 {
  font-size: 113%
}

ul>li {
  margin-left: 0
}

ul {
  padding-left: 2.5ch
}

#notes,#proj,#about { display: none }
#notes:target, #proj:target, #about:target { display: inline }

li,p {
  word-wrap: break-word;
  overflow-wrap: break-word;
  hyphens: auto;
  hyphenate-limit-chars: 6 3 3;
  hyphenate-limit-lines: 2;
  hyphenate-limit-last: always;
  hyphenate-limit-zone: 8%
}

figure {
  min-width: 100%;
  max-width: var(--cwidth);
  margin-left: 0
}

figure>img,p>img,video,table {
  width: 100%;
  max-width: var(--cwidth)
}

figure>img,p>img {
  min-width: 100%;
  margin: 0;
  border-radius: .5ch
}

video {
  border-radius: .6ch
}

figure img+img,figure img+video,figure video+img,figure video+video {
  margin-top: 0
}

figcaption {
  font: 90%/130% var(--bfont);
  color: lightslategray;
  font-style: italic;
  max-width: 100%;
  margin: .5ch 1.5ch
}

time, small, i, span.desc {
  color: lightslategray;
}

small { font-size: 72% }

time, span.desc {
  font-style: italic;
}

table {
  border-spacing:0;
  text-align:left;
  border-collapse:collapse;
  margin:2ch 0!important
}
tr:nth-child(n) {
  border-top: 1px solid var(--lite-bc);
  border-bottom: 1px solid var(--lite-bc)
}

th {
  font-style: italic;
  font-weight: normal  
}

th, td {
  text-align:left;
  vertical-align:text-top;
  padding:0.5ch
}
/*
p+p {
  text-indent: 2ch;
  margin-top: -1.5ch
}
*/
mark {
  background-color: #fffdaf
}

article.frontpage {
  margin: 0;
}

blockquote {
  margin: 0
}

blockquote p, blockquote li {
  margin: 0 3ch;
  font-style: italic
}

article.frontpage > p + p, blockquote > p + p { text-indent: 2ch }
article.frontpage > p + p { margin-top:-1.5ch }

blockquote>p:first-of-type::before {
  content: open-quote;
  margin-left: -1ch
}

blockquote>p:last-of-type::after {
  content: close-quote
}
hr {
  margin-top: 1lh;
}
.footnote hr {
  margin:1.5rem auto 0.75rem 0;
  width:36%;
  border-color: var(--lite-hr);
  border-style:solid;
  border-width:1px 0 0
}
.footnote hr:after {
  content: none!important
}
.footnote li {
  font-size: 87%
}
.footnote li + li {
  margin-top: -1ch;
}
hr {
  border: none;
  text-align: center
}
hr:after {
  content: "* * *";
  position: relative
} /*
hr {
  color: lightslategray;
  border: 0
} */
hr::after {
  content: "* * *";
  text-align: center;
}
pre, code {
  font-family: var(--cfont);
}
pre {
  border-radius: .4em
}
code {
  font-size: 84%;
  font-feature-settings: "ss01" 1;
}

hr::after,pre,pre>code {
  display: block
}

code,pre,pre>code {
  background-color: #f4f4f4;
}

:not(pre)>code {
  padding: 0 3px;
  border-radius: 0.2ch;
  background-color: #f4f4f4
}

pre>code {
  overflow-x: auto;
  border-radius: 1ch;
  padding: 1ch 1.5ch
}
pre, code {
  font-family: var(--cfont);
}

/* hide scrollbar in browsers */
pre>code::-webkit-scrollbar {
  display:none
} /* in Webkit browsers */
pre>code {
  scrollbar-width: none
} /* in Firefox */
pre>code {
  -ms-overflow-style:none
}
@media (prefers-color-scheme: dark) {
  body, header, article, aside {
    background-color: rgb(48,56,65)
  }
  h1, h2, h3, p, li, dl, details, summary, math > * {
    color: #bbb;
    background-color: transparent
  }
  table, hr, img.screen, img.fig, warn {
    filter: invert(0.85)
  }
  pre {
    filter: invert(0.9)
  }
  p > code, li > code {
    background-color: #222
  }
  mark {
    color: #FFD700;
    background-color: #222
  }
  a {
    color: var(--link-dark);
  }
  a:visited {
    color: #FF85FF;
  }
}
kbd {
  /* text-transform: uppercase; */
  font-size: 60%;
  line-height: 0.75rem;
  padding: 4px 8px 2px 8px;
  margin: 2px;
  border-radius: 5px;
  border: 1px solid lightslategray;
  border-bottom: 2px solid lightslategray;
  vertical-align: middle;
}
/* KaTeX overflow */
.katex-display > .katex {
  display: inline-block;
  white-space: nowrap;
  max-width: 100%;
  overflow-x: auto;
  overflow-y:hidden;
  text-align: initial
}
.katex {
  font: normal 1.13rem KaTeX_Main, Times New Roman, serif;
  line-height: 1.4;
  white-space: normal;
  text-indent: 0
}
sup { vertical-align: text-top; font-size: 69% }
/* awesome line numbers for code */
article pre, article li pre {
    position: relative;
    padding-left: 3ch!important;
}
article pre code:before {
    content: "1\A 2\A 3\A 4\A 5\A 6\A 7\A 8\A 9\A 10\A 11\A 12\A 13\A 14\A 15\A 16\A 17\A 18\A 19\A 20\A 21\A 22\A 23\A 24\A 25\A 26\A 27\A 28\A 29\A 30\A 31\A 32\A 33\A 34\A 35\A 36\A 37\A 38\A 39\A 40\A 41\A 42\A 43\A 44\A 45\A 46\A 47\A 48\A 49\A 50\A 51\A 52\A 53\A 54\A 55\A 56\A 57\A 58\A 59\A 60\A 61\A 62\A 63\A 64\A 65\A 66\A 67\A 68\A 69\A 70\A 71\A 72\A 73\A 74\A 75\A 76\A 77\A 78\A 79\A 80\A 81\A 82\A 83\A 84\A 85\A 86\A 87\A 88\A 89\A 90\A 91\A 92\A 93\A 94\A 95\A 96\A 97\A 98\A 99\A 100\A 101\A 102\A 103\A 104\A 105\A 106\A 107\A 108\A 109\A 110\A 111\A 112\A 113\A 114\A 115\A 116\A 117\A 118\A 119\A 120\A 121\A 122\A 123\A 124\A 125\A 126\A 127\A 128\A 129\A 130\A 131\A 132\A 133\A 134\A 135\A 136\A 137\A 138\A 139\A 140\A 141\A 142\A 143\A 144\A 145\A 146\A 147\A 148\A 149\A 150\A 151\A 152\A 153\A 154\A 155\A 156\A 157\A 158\A 159\A 160\A 161\A 162\A 163\A 164\A 165\A 166\A 167\A 168\A 169\A 170\A 171\A 172\A 173\A 174\A 175\A 176\A 177\A 178\A 179\A 180\A 181\A 182\A 183\A 184\A 185\A 186\A 187\A 188\A 189\A 190\A 191\A 192\A 193\A 194\A 195\A 196\A 197\A 198\A 199\A 200\A 201\A 202\A 203\A 204\A 205\A 206\A 207\A 208\A 209\A 210\A 211\A 212\A 213\A 214\A 215\A 216\A 217\A 218\A 219\A 220\A 221\A 222\A 223\A 224\A 225\A 226\A 227\A 228\A 229\A 230\A 231\A 232\A 233\A 234\A 235\A 236\A 237\A 238\A 239\A 240\A 241\A 242\A 243\A 244\A 245\A 246\A 247\A 248\A 249\A 250\A 251\A 252\A 253\A 254\A 255\A 256\A 257\A 258\A 259\A 260\A 261\A 262\A 263\A 264\A 265\A 266\A 267\A 268\A 269\A 270\A 271\A 272\A 273\A 274\A 275\A 276\A 277\A 278\A 279\A 280\A 281\A 282\A 283\A 284\A 285\A 286\A 287\A 288\A 289\A 290\A 291\A 292\A 293\A 294\A 295\A 296\A 297\A 298\A 299\A 300\A";
    position: absolute;
    left: 1ch;
    top: 1.1em;
    bottom: 1.1em;
    overflow: hidden;
    text-align: right;
    color: #888;
}
span.desc { display: block; }